* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    background-image: url(../img/bg/hero__bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1130px;
    padding: 0px 5px;
}

.wrapper {}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid white;

}

.header__container {
    margin: 0 auto;
    max-width: 1380px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.logo-wrap {
    margin-right: 130px;
    padding-top: 16px;
}

.logo {
    max-width: 187px;
}

.nav {}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.nav__item {
    margin-right: 35px;
    border-bottom: 2px solid transparent;
}

.nav__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.nav__link:hover {
    color: #ED7173;
    transition: color 0.3s;
}

.address {
    display: flex;
    font-style: normal;
}

.nav__item.active {
    border-bottom-color: white;
}

.header__navigation {
    display: flex;
    margin-right: 52px;
    padding-top: 51px;
}

.navigation-wrap {
    width: 11px;
}

.navigation-pic {
    width: 11px;
    height: 15px;
    display: inline-block;
}

.navigation__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

.header__number {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 51px;
}

@media (max-width: 960px) {
    .container {
        max-width: 898px;
    }

    .header__navigation {
        display: none;
    }

    .header__number {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        padding-top: 51px;
    }
}

.main {
    margin-top: 180px;
}

.hero {
    padding-bottom: 50px;
    height: 100vh;
    min-height: 650px;
    padding-top: 180px;
}

.hero__content {}

.hero__info {
    margin-left: 78px;
}

.hero__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.hero__buttons {
    margin-top: 50px;
    display: flex;
    column-gap: 20px;
}

.btn {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border-color: #FFFFFF;
    border-radius: 5px;
    height: 44px;
}

.hero__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 164px;
}

.hero__text-skidka {
    color: #ED7173;
}

.hero__blocks-nav {}

.hero__blocks-list {
    display: flex;
    justify-content: space-between;
}

.hero__blocks-item {
    width: 276px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    flex: 0 1 276px;
}

.hero__blocks-img--wrap {
    margin-top: 16px;
}

.hero__blocks-img {}

.hero__blocks-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.more {
    height: 666px;
    background-color: #FFFFFF;
    padding-top: 62px;
    padding-bottom: 90px;
}

.container {}

.more__content {}

.more__info {}

.more__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    margin-bottom: 10px;
    color: #E7E7E7;

}

.more__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
}

.more__row {
    width: 100%;
    position: relative;
}

.more__list {

    display: flex;
}

.more__item {
    width: 50%;
}

.more__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    text-align: center;
    color: #E7E7E7;
    position: absolute;
    width: 115px;
    height: 117px;
}

.more__text {
    width: 405px;
    padding-top: 75px;
    padding-left: 30px;
    position: relative;
}

.car {
    background-image: url(../img/bg/car_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 519px;
}

.container {}

.car__content {}

.car__info {}

.car__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 62px;
    padding-bottom: 10px;
}

.car__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.car__list {
    display: flex;
    justify-content: space-between;
}

.car__item {
    height: 211px;
    width: 211px;
    background-color: white;
    border-radius: 4px;
}

.car__img-wrap {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.car__img {
    height: 35px;
    width: 35px;
}

.car__item-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
}

.services {
    height: 985px;
    padding-bottom: 90px;
    padding-top: 62px;
}

.container {}

.services__content {}

.services__info {}

.services__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #E7E7E7;
}

.services__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
    padding-top: 10px;
    padding-bottom: 60px;
    max-width: 620px;
    margin: 0 auto;
}

.services__row {
    display: flex;
    position: relative;
}

.services__list {
    display: flex;
    column-gap: 20px;
}

.services__item {
    height: 265px;
    width: 265px;
    position: relative;
    border: 2px solid #E7E7E7;
    border-radius: 4px;
    margin-bottom: 20px;
}

.services__item:hover {
    background: #ED7173;
    border-color: #ED7173;
    transition: color 0.3s;
}

.services__img-wrap {}

.services__img {
    position: relative;
}

.services__item-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
}

.btn.btn-sec4 {
    border: 2px solid #E7E7E7;
    color: black;
    width: 170px;
    margin: 0 auto;
    display: block;
}

.btn.btn-sec4:hover {
    background: #ED7173;
    border-color: #ED7173;
    transition: color 0.3s;

}

.reviews {
    height: 450px;
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url(../img/bg/services_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {}

.reviews__content {}

.reviews__info {}

.reviews__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}

.reviews__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.reviews__reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    height: 100%;
}

.reviews__img-wrap {
    height: 30px;
    width: 30px;
}

.reviews__arrow {
    transform: translate(0, 300%);
}

.reviews__arrow.right {
    transform: scaleX(-1) translate(0, 300%)
}


.reviews__review-img-wrap {
    width: 455px;
    height: 136px;

}

.reviews__review-img {
    border-radius: 4px;
}

.examples {
    padding-top: 62px;
    padding-bottom: 90px;
    height: 723px;
}

.container {}

.examples__content {}

.examples__info {}

.examples__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #E7E7E7;
    margin-bottom: 10px;
}

.examples__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
    max-width: 896px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.examples__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.examples__item {
    height: 265px;
    width: 265px;
}

.examples__img-wrap {}

.examples__img {
    border-radius: 4px;
}

.order {
    background-image: url(../img/bg/order__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 503px;
    padding-top: 80px;
    padding-bottom: 90px;
}

.order__content {}

.order__info {
    margin-bottom: 62px;
}

.order__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    max-width: 870px;
    margin: 0 auto;
}

.order__order {
    width: 870px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.order__col {
    width: 50%;
}

.order_col-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    width: 286px;
    margin-bottom: 32px;
}

.btn-sec7 {
    background-color: black;
    border-color: white;
    width: 170px;
    height: 44px;
}

.order__table {}

.order__table:last-child {
    margin-bottom: 0;
}

.order__input {
    background: #FFFFFF;
    border-radius: 4px;
    width: 360px;
    height: 44px;
    margin-bottom: 20px;
}

.btn-sec7-full_width {
    width: 360px;
}

.map {
    height: 224px;
    background-image: url(../img/bg/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}