* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    background-image: url(../img/bg/hero__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1130px;
    padding: 0px 5px;
}

.wrapper {}

.header {}

.header__container {
    margin: 0 auto;
    max-width: 1380px;
    display: flex;
    column-gap: 20px;
}

.logo-wrap {
    margin-right: 130px;
    padding-top: 16px;
}

.logo {}

.nav {}

.nav__list {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.nav__item {
    margin-right: 35px;
}

.nav__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #ED7173;
}

.active {
    text-decoration: underline;
}

.header__navigation {
    display: flex;
    margin-right: 52px;
    padding-top: 51px;
}

.navigation-wrap {
    width: 11px;
}

.navigation-pic {}

.navigation__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

.header__number {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 51px;
}

.main {
    margin-top: 180px;
}

.hero {
    padding-bottom: 50px;
}

.hero__content {}

.hero__info {
    margin-left: 78px;
}

.hero__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.hero__buttons {
    margin-top: 50px;
}

.btn {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border-color: #FFFFFF;
    border-radius: 5px;
    height: 44px;
}

.hero__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 164px;
}

.hero__text-skidka {
    color: #ED7173;
}

.hero__blocks-nav {}

.hero__blocks-list {
    display: flex;
    justify-content: space-between;
}

.hero__blocks-item {
    width: 276px;
    height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
}

.hero__blocks-img--wrap {
    margin-top: 16px;
}

.hero__blocks-img {}

.hero__blocks-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.more {
    height: 666px;
    background-color: #FFFFFF;
    padding-top: 62px;
    padding-bottom: 90px;
}

.container {}

.more__content {}

.more__info {}

.more__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    margin-bottom: 10px;
    color: #E7E7E7;

}

.more__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
}

.more__row {
    width: 100%;
    position: relative;
}

.more__list {

    display: flex;
}

.more__item {
    width: 50%;
}

.more__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    text-align: center;
    color: #E7E7E7;
    position: absolute;
    width: 115px;
    height: 117px;
}

.more__text {
    width: 405px;
    padding-top: 75px;
    padding-left: 30px;
}