* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1130px;
    padding: 0px 5px;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid white;

}

.header__container {
    margin: 0 auto;
    max-width: 1380px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo-wrap {}

.logo {
    max-width: 187px;
}

.nav {}

.nav__list {
    display: flex;
    column-gap: 35px;
}

.nav__item {
    border-bottom: 2px solid transparent;
}

.nav__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.nav__link:hover {
    color: #ED7173;
    transition: color 0.3s;
}

.header__contacts {
    display: flex;
    align-items: center;
    font-style: normal;
    column-gap: 52px;
}

.nav__item.active {
    border-bottom-color: white;
}

.header__navigation {
    display: flex;
}

.navigation-wrap {}

.navigation-pic {
    width: 11px;
    height: 15px;
    display: inline-block;
}

.navigation__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

.header__number {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.burger {
    width: 47px;
    height: 31px;
    display: flex;
    align-items: center;
    position: relative;
    display: none;
}

.burger__el,
.burger__el::before,
.burger__el::after {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #D9D9D9;
    border-radius: 11px;
}

.burger__el::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.burger__el::after {
    bottom: 0;
    right: 0;
    content: "";
    position: absolute;
    width: 83%;
}

.main {
    flex: 1;

}

.hero {
    padding-top: 272px;
    padding-bottom: 50px;
    background-image: url(../img/bg/hero__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {}

.hero__info {
    margin-left: 78px;
}

.hero__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 28px;
    max-width: 409px;
    max-height: 112px;
    display: block;
}

.hero__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.hero__buttons {
    margin-top: 50px;
    display: flex;
    column-gap: 20px;
}

.btn {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border-color: #FFFFFF;
    border-radius: 5px;
    height: 44px;
}

.hero__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 164px;
}

.hero__text-skidka {
    color: #ED7173;
}

.hero__blocks-nav {}

.hero__blocks-list {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.hero__blocks-item {
    width: 276px;
    min-height: 120px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    flex: 0 1 276px;
}

.hero__blocks-img--wrap {
    margin-top: 16px;
}

.hero__blocks-img {}

.hero__blocks-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero__blocks-text::before {
    content: "";
    height: 22px;
    width: 22px;
    display: block;
    position: relative;
    background-image: url(../img/item/черная\ иконка.svg);
    display: none;
    margin-right: 31px;
}

.more {
    background-color: #FFFFFF;
    padding-top: 62px;
    padding-bottom: 90px;
}

.container {}

.more__content {}

.more__info {}

.more__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    margin-bottom: 10px;
    color: #E7E7E7;

}

.more__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
}

.more__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    row-gap: calc(100% / 2);
}

.more__item {
    position: relative;
    width: 50%;
    flex: 0 1 calc((100% - 66px) / 2);
    height: 50%;
}

.more__text {
    position: relative;
    z-index: 100;
    bottom: 0;
    right: 0;
    padding-top: 70px;
    padding-left: 30px;
}

.more__item::before {
    position: absolute;
    content: "01";
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 117px;
    text-align: center;
    color: #E7E7E7;
}

.car {
    background-image: url(../img/bg/car_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 62px;
    padding-bottom: 90px;
}

.container {}

.car__content {}

.car__info {}

.car__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.car__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.car__list {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.car__item {
    height: 211px;
    width: 211px;
    background-color: white;
    border-radius: 4px;
}

.car__img-wrap {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.car__img {
    height: 35px;
    width: 35px;
}

.car__item-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
    margin-bottom: 25px;
}

.services {
    padding-bottom: 90px;
    padding-top: 62px;
}

.services__container {}

.services__content {}

.services__info {}

.services__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #E7E7E7;
}

.services__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
    padding-top: 10px;
    padding-bottom: 60px;
    max-width: 620px;
    margin: 0 auto;
}

.services__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.services__item {
    flex: 0 1 calc((100% - 60px) / 4);
    border: 2px solid #E7E7E7;
    border-radius: 4px;
}

.services__item:hover {
    background: #ED7173;
    border-color: #ED7173;
    transition: 0.3s;
}

.services__img-wrap {}

.services__img {
    position: relative;
    width: 100%;
}

.services__item-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
    padding-bottom: 12px;
    padding-top: 13px;
}

.btn.btn-sec4 {
    border: 2px solid #E7E7E7;
    color: black;
    width: 170px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
}

.btn.btn-sec4:hover {
    background: #ED7173;
    border-color: #ED7173;
    transition: color 0.3s;

}

.reviews {
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url(../img/bg/services_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {}

.reviews__content {}

.reviews__info {}

.reviews__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}

.reviews__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.reviews__reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    height: 100%;
    column-gap: 16px;
}

.reviews__reviews::before {
    content: url(../img/item/иконка\ лево.svg);
    height: 30px;
    width: 30px;
    transform: translate(50%, 200%);
}

.reviews__reviews::after {
    height: 30px;
    width: 30px;
    content: url(../img/item/иконка\ лево.svg);
    transform: scaleX(-1) translateY(200%);

}

.reviews__img-wrap {
    height: 30px;
    width: 30px;
}

.reviews__review-img-wrap {
    width: 455px;
    height: 136px;
}

.reviews__review-img {
    border-radius: 4px;
}

.examples {
    padding-top: 62px;
    padding-bottom: 90px;
}

.container {}

.examples__content {}

.examples__info {}

.examples__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #E7E7E7;
    margin-bottom: 10px;
}

.examples__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #252525;
    max-width: 896px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.examples__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
}

.examples__item {
    flex: 0 1 calc((100% - 20px*3) / 4);
    position: relative;
}

.examples__img-wrap {
    padding-top: 100%;
    position: relative;
}

.examples__img {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.examples__item:hover .examples__img:nth-child(2) {
    opacity: 0;
}

.order {
    background-image: url(../img/bg/order__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 90px;
}

.order__content {}

.order__info {
    margin-bottom: 62px;
}

.order__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    max-width: 870px;
    margin: 0 auto;
}

.order__order {
    width: 870px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.order__col {
    width: 50%;
}

.order_col-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    width: 286px;
    margin-bottom: 32px;
}

.btn-sec7 {
    background-color: black;
    border-color: white;
    width: 170px;
    height: 44px;
}

.order__table {}

.order__table:last-child {
    margin-bottom: 0;
}

.order__input {
    background: #FFFFFF;
    border-radius: 4px;
    width: 360px;
    height: 44px;
    margin-bottom: 20px;
}

.btn-sec7-full_width {
    width: 360px;
}

.map {

    height: 120px;
    background-image: url(../img/bg/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    background-color: #404040;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__content {
    display: flex;
}

.footer__info {
    display: flex;
}

.footer__addres {
    display: flex;
}

.header__navigation.footer__navigation {
    margin-left: 32px;
}

.footer__requis {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 72px;
}

.footer__information {
    display: flex;
}

.footer__abreviaturs {
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 68px;
}

.footer__numbers {
    color: #FFF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
}

@media (max-width: 960px) {
    .container {
        max-width: 898px;
        margin: 0 auto;
    }

    .header__navigation {
        display: none;
    }

    .header__number {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .nav__link {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
    }

    .hero {
        padding-top: 210px;
    }

    .hero__title {
        font-size: 42px;
    }

    .hero__subtitle {
        font-size: 22px;
        margin-bottom: 70px;
    }

    .more__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: #E7E7E7;
    }

    .more__subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #252525;
    }

    .more__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #252525;
    }

    .car__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: #FFFFFF;
    }

    .car__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    .car__item {
        height: 118px;
        width: 167px;
    }

    .car__item-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #252525;
    }

    .car__img {
        width: 25px;
        height: 25px;
    }

    .car__img-wrap {
        margin-top: 19px;
        margin-bottom: 13px;
    }

    .services__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
    }

    .services__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #252525;
    }

    .services__item-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #252525;
    }

    .reviews__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: #FFFFFF;
    }

    .reviews__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    .reviews__review-img-wrap {
        width: 400px;
        height: 120px;
    }

    .reviews__reviews::before {
        height: 26px;
        width: 26px;
    }

    .reviews__reviews::after {
        height: 26px;
        width: 26px;
    }

    .examples__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: #E7E7E7;
    }

    .examples__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #252525;
    }

    .order__text {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .map {
        min-width: 960px;
    }

    .footer__addres {
        display: block;
    }

    .footer__requis {
        text-align: left;
        margin-left: 32px;
    }

    .footer__information {
        display: block;
    }

    .footer__numbers {
        margin-left: 68px;
    }

    .header__navigation.footer__navigation {
        display: flex;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 712px;
        margin: 0 auto;
    }

    .header {
        z-index: 10;
    }

    .header .nav {
        display: none;
    }

    .logo {
        max-width: 142px;
    }

    .header__contacts {
        display: none;
    }

    .burger {
        display: flex;
    }

    .hero {
        position: relative;
        padding-top: 170px;
    }

    .hero__container {
        z-index: 10;
    }

    .hero::after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 19.11%);
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hero__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 49px;
        color: #FFFFFF;
    }

    .hero__subtitle {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .hero__blocks-list {
        min-height: 96px;
    }

    .hero__blocks-item {}

    .hero__blocks-img {
        height: 24px;
        width: 24px;
        margin-bottom: 10px;
    }

    .hero__blocks-text {}

    .more__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #E7E7E7;
    }

    .more__subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #252525;
    }

    .more__item::before {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 82px;
        text-align: center;

        color: #E7E7E7;
    }

    .more__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #252525;
    }

    .car__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    }

    .car__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .services__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #E7E7E7;
    }

    .services__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #252525;
    }

    .services__item-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #252525;
    }

    .reviews__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    }

    .reviews__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .reviews__reviews {
        margin-top: 30px;
    }

    .reviews__review-img-wrap {
        width: 320px;
        height: 96px;
    }

    .reviews__reviews::before {
        height: 21px;
        width: 21px;
    }

    .reviews__reviews::after {
        height: 21px;
        width: 21px;
    }

    .examples__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #E7E7E7;
    }

    .examples__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #252525;
    }

    .order__order {
        display: block;
    }

    .order__text {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .map {
        min-width: 768px;
    }

    .header__navigation.footer__navigation {
        margin-left: 27px;
    }
    .footer__requis {
        margin-left: 27px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 290px;
    }

    .hero {}

    .logo-wrap {
        max-width: 81px;
    }

    .burger {
        width: 29px;
        height: 19px;
    }

    .hero__info {
        margin-left: 0;
    }

    .hero__title {
        margin-bottom: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        color: #FFFFFF;
    }

    .hero__subtitle {
        padding-top: 10px;
        margin-bottom: 0;
        margin-bottom: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .hero__text {
        margin-bottom: 0;
    }

    .hero__buttons {
        margin-top: 0;
        display: block;
    }

    .btn {
        margin-bottom: 14px;
    }

    .hero__blocks-nav {
        margin-top: 45px;
    }

    .hero__blocks-item {
        width: 290px;
        min-height: 56px;
        margin-bottom: 10px;
        flex: 0 1 221px;
        font-size: 14px;
        padding: 10px 12px;
        display: flex;
        background: #FFFFFF;
        border-radius: 4px;
        position: relative;
    }

    .hero__blocks-img--wrap {
        margin-top: 0;
        display: none;
    }

    .hero__blocks-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        position: absolute;
        display: flex;
        align-items: center;

    }

    .hero__blocks-text::before {
        display: flex
    }

    .hero__blocks-list {
        display: block;
    }

    .hero__blocks-list:last-child {
        margin-bottom: 0;
    }

    .more__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #E7E7E7;
    }

    .more__subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #252525;
    }

    .more__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        color: #252525;
    }

    .car__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    .car__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    .car__list {
        display: block;
    }

    .car__item {
        display: flex;
        width: 290px;
        height: 56px;
        align-items: center;
        padding: 20px 17px;
        margin-bottom: 10px;
    }

    .car__item:last-child {
        margin-bottom: 0;
    }

    .car__img {
        width: 22px;
        height: 22px;
    }

    .car__img-wrap {
        margin-bottom: 0;
        margin-top: 0;
    }

    .car__item-text {
        margin-bottom: 0;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #252525;
    }

    .services {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .services__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #E7E7E7;
    }

    .services__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #252525;
        padding-bottom: 30px;
    }

    .services__list {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        row-gap: 10px;
        column-gap: 10px;
    }

    .services__item {
        position: relative;
        width: 50%;
        flex: 0 1 calc((100% - 10px) / 2);
        height: 50%;
    }

    .btn.btn-sec4 {
        margin-top: 25px;
    }

    .reviews {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .reviews__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
    }

    .reviews__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }

    .reviews__review-img-wrap {
        width: 254px;
        height: 76px;
    }

    .reviews__review-img-wrap:last-child {
        display: none;
    }

    .reviews__reviews::before {
        transform: translate(100%, 100%)
    }

    .reviews__reviews::after {
        transform: scaleX(-1) translate(100%, 100%);
    }

    .examples {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .examples__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #E7E7E7;
    }

    .examples__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #252525;
        margin-bottom: 30px;
    }

    .examples__list {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100%;
        column-gap: 10px;
        row-gap: 10px;
        margin-bottom: 25px;
    }

    .examples__item {
        position: relative;
        width: 50%;
        flex: 0 1 calc((100% - 10px) / 2);
        height: 50%;
    }

    .order__text {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .map {
        min-width: 480px;
    }

    .footer__content {
        display: block;
    }

    .footer__requis {
        margin-left: 0;
    }
    .footer__abreviaturs {
        margin-left: 0;
    }
    .footer__numbers {
        margin-left: 0;
    }
    .header__navigation.footer__navigation {
        margin-left: 0;
    }
    .logo {
        text-align: center;
    }
}